:host {
  min-height: 100vh;
  height: auto;
  display: block;
}

.item-title {
  width: 100%;
}

.items {
  width: 80%;
}

@media (min-width: 768px) {
  .item-title {
    width: 150px;
  }
  .items {
    width: 300px;
  } 
}

/* * {
  @apply border-2;
} */
