<head class="flex flex-col w-full items-center pt-12 pb-6 bg-gray-900 text-white">
  <span
    class="border-2 border-white h-16 text-4xl flex justify-center items-center px-4"
    >Devbuddy</span
  >
  <span class="pt-6">Kreatív projektek . Előremutató együttműködések . Szoftverfejlesztés</span>
</head>
<main class="flex flex-col px-10 pt-4 text-center pb-40 bg-white">
  <span
    class="text-gray-900 font-semibold">11 országban, 3 nyelven, sok-sok izgalmas, megvalósult projekt</span
  >

  <span class="text-xl font-semibold pt-10 mt-10"
    >Jelenlegi publikus projektjeink</span
  >
  <div class="text-gray-400 text-sm flex justify-center">
    <div class="flex flex-col items-center items">
      <span class="font-semibold mt-8 mb-2 bg-teal-400 text-white item-title"
        >TRIBEBUDDY.HU</span
      >
      <span>Online segítők munkáját könnyítő webapplikáció</span>

      <span class="font-semibold mt-8 mb-2 bg-teal-400 text-white item-title"
        >WOMAN4YOU.HU</span
      >
      <span>Szabadidő partnerkereső webapplikáció</span>

      <span class="font-semibold mt-8 mb-2 bg-teal-400 text-white item-title"
        >FOOSBALL.LIVE</span
      >
      <span>Asztalifoci versenyszervezés támogató webapplikáció</span>

      <span class="font-semibold mt-8 mb-2 bg-teal-400 text-white item-title"
        >CHAT MODUL</span
      >
      <span>Chat applikáció webapplikációk számára</span>
    </div>
  </div>

  <span class="text-xl font-semibold pt-20">Lezárt projektjeink</span>
  <div class="text-gray-400 text-sm flex justify-center">
    <div class="flex flex-col items-center items">
      <span class="font-semibold mt-8 mb-2 bg-indigo-300 text-white item-title"
        >BUSINESS TRAINING</span
      >
      <span>Nemzetközileg elismert projektmenedzsment képzés (PMP) online</span>
      <span class="font-semibold mt-8 mb-2 bg-indigo-300 text-white item-title"
        >KREATÍV FELÚJÍTÁS</span
      >
      <span>Lakásbeszerzés, -felújítás és értékesítés Budapesten</span>
      <span class="font-semibold mt-8 mb-2 bg-indigo-300 text-white item-title"
        >VÉRCSEPP ANALÍZIS</span
      >
      <span
        >Akkoriban forradalmian új egészség szolgáltatás szervezése négy
        országban</span
      >
      <span class="font-semibold mt-8 mb-2 bg-indigo-300 text-white item-title"
        >TÁPLÁLKOZÁS BEÁLLÍTÁS</span
      >
      <span
        >A mára népszerű táplálkozási tanácsadás rendszer társalapítása</span
      >
      <span class="font-semibold mt-8 mb-2 bg-indigo-300 text-white item-title"
        >YH ACADEMY</span
      >
      <span>Online Egészség Akadémia tanfolyamokkal és konzultációkkal</span>
      <span class="font-semibold mt-8 mb-2 bg-indigo-300 text-white item-title"
        >CSUDAHELY</span
      >
      <span>Szállás- és elvonulóhely a Dunakanyarban</span>
      <span class="font-semibold mt-8 mb-2 bg-indigo-300 text-white item-title"
        >CIRCLING</span
      >
      <span
        >Magyarországon kevésbé ismert önismereti módszer elterjesztése</span
      >
      <span class="font-semibold mt-8 mb-2 bg-indigo-300 text-white item-title"
        >LINGOCASA</span
      >
      <span
        >Egyedi nyelvtanuló-tanító szoftver és tanítás angol-spanyol-magyar
        nyelven</span
      >
      <span class="font-semibold mt-8 mb-2 bg-indigo-300 text-white item-title"
        >HEALERS DIGITAL</span
      >
      <span
        >Ügyfélkezelő és anyagcsere típus szoftver táplálkozási
        szakértőknek</span
      >
    </div>
  </div>

  <span class="text-xl font-semibold pt-10 mt-10">Skillek és területek</span>
  <div class="text-gray-400 text-sm flex justify-center">
    <div class="flex flex-col items-center items">
      <span class="font-semibold mt-8 mb-2 bg-yellow-300 text-white item-title"
        >1991 óta</span
      >
      <span
        >Személyiségfejlesztéssel, önismerettel, lelki egészséggel kapcsolatos
        szolgáltatások
      </span>
      <span class="font-semibold mt-8 mb-2 bg-yellow-300 text-white item-title"
        >2001 óta</span
      >
      <span>Web-, szoftvertervezés és -fejlesztés</span>
      <span class="font-semibold mt-8 mb-2 bg-yellow-300 text-white item-title"
        >2005 óta</span
      >
      <span>Ingatlanfejlesztéssel kapcsolatos projektek</span>
      <span class="font-semibold mt-8 mb-2 bg-yellow-300 text-white item-title"
        >2011 óta</span
      >
      <span
        >Funkcionális táplálkozással, testi egészséggel kapcsolatos
        együttműködések
      </span>
      <span class="font-semibold mt-8 mb-2 bg-yellow-300 text-white item-title"
        >2014.</span
      >
      <span>Könyvírás, könyvkiadás </span>
    </div>
  </div>

  <span class="text-xl font-semibold pt-20">Kapcsolat</span>
  <div class="text-gray-400 text-sm flex justify-center mt-6">
    <div class="flex flex-col items-center items">
      <span>+36-70-398-4354</span>
      <span>Telefon, Viber, Whatsapp, iMessage</span>
      <span class="mt-4">hello (kukac) luciendelmar.com</span>
    </div>
  </div>
</main>
<router-outlet></router-outlet>
