:host {
  min-height: 100vh;
  height: auto;
  display: block;
}

.desktop-width {
  width: 100%;
}

@media (min-width: 768px) {
  .desktop-width {
    width: 150px;
  }
}

/* * {
  @apply border-2;
} */
